/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
  background: rgb(136, 163, 203);
  background: linear-gradient(0deg, rgb(136, 167, 203) 0%, rgb(0, 56, 60) 100%);
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #ffffffda;
}


/* Typeography General*/
h1 {
  font-family: 'Tangerine', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
}

h2 {
  border-bottom: 1px none #cc1;
  font-family: 'Tangerine', Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.6em;
  font-size: 1em;
  color: #eee;
}



/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
}

.homeBtn {
  font-size: 14px;
  color: #ffffffe8;
  background: rgba(49, 46, 41, 0.5);
  border-radius: 5%;
}

.homeBtn:hover {
  background: rgb(13, 165, 102);
  color: #fff;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
}
/* ---- Module Rules ---- */
.navbar__menu {
  margin: 0px;
  border: 1px;
  border-radius: 5%;
  vertical-align: middle;
}

/* Navigation Styles*/
.navbar__menu ul {
  padding: 0px 2px 1px 2px;
  margin: 6px 0px 2px 0px;
  text-align: left;
}

.navbar__menu li {
  display: inline-block;
  padding: 4px;
  margin: 0px 6px 0px 6px;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar__menu .menu__link {
  display: inline;
  padding: 4px;
  text-decoration: none;
  color: #fff;
}

.navbar__menu .menu__link:hover {
  background: rgb(13, 165, 102);
  color: #fff;
  padding: 4px 6px 4px 6px;
  transition: ease 0.3s all;
  border-radius: 4px;
}

.nav__active__class {
  background: rgb(13, 165, 102);
  color: #fff;
  padding: 4px 6px 4px 6px;
  transition: ease 0.3s all;
  border-radius: 3px;
}

/* Header Styles */
.page__header {
  /* background: linear-gradient(0deg, rgba(1, 54, 160, 0.9 ) 25%, rgba(1, 56, 140, 0.9) 75%); */
  background: rgb(71, 64, 64);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  overflow-y: hidden;
  margin: 1px;
  padding: 1px;
}

/* Footer Styles */
.page__footer {
  background: #000;
  padding: 3em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}


/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
  content: '';
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 50%;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 50%;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */

/* Note: active__section class is applied through javascript.
 You should update the class here and in the index.html to what you set in your javascript file.  */
section.active__section {
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.active__section h2 {
  border-bottom: 1px solid #cc1;
}

section.active__section .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.active__section .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}